<!DOCTYPE html>
<html data-build="prod-3633e2bdae6cde928803ebdc1fe26d5ae467d1fc" dir="ltr">

<head>{{.envScript}}
    <meta charSet="utf-8" />
    <title>ChatGPT</title>
    <link rel="apple-touch-icon" sizes="180x180"
        href="{{.assetPrefix}}/_next/static/media/apple-touch-icon.82af6fe1.png" />
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{.assetPrefix}}/_next/static/media/favicon-32x32.630a2b99.png" />
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{.assetPrefix}}/_next/static/media/favicon-16x16.a052137e.png" />
    <link rel="preconnect" href="{{.assetPrefix}}" />
    <meta name="title" content="ChatGPT: Get instant answers, find inspiration, learn something new" />
    <meta name="description"
        content="ChatGPT helps you get answers, find inspiration and be more productive. It is free to use and easy to try. Just ask and ChatGPT can help with writing, learning, brainstorming and more." />
    <meta name="keywords"
        content="ai chat,ai,chap gpt,chat gbt,chat gpt 3,chat gpt login,chat gpt website,chat gpt,chat gtp,chat openai,chat,chatai,chatbot gpt,chatg,chatgpt login,chatgpt,gpt chat,open ai,openai chat,openai chatgpt,openai" />
    <meta property="og:description" content="A conversational AI system that listens, learns, and challenges" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="ChatGPT" />
    <meta property="og:image" content="{{.assetPrefix}}/_next/static/media/chatgpt-share-og.49cbbffe.png" />
    <meta property="og:url" content="https://chatgpt.com" />
    <meta name="apple-itunes-app" content="app-id=6448311069" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="next-head-count" content="4" />
    <link data-next-font="" rel="preconnect" href="/" crossorigin="anonymous" />
    <link rel="preload" href="{{.assetPrefix}}/_next/static/css/b95491dfce755aaf.css" as="style"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="{{.assetPrefix}}/_next/static/css/b95491dfce755aaf.css" crossorigin="anonymous"
        data-n-g="" /><noscript data-n-css=""></noscript>
    <script defer="" crossorigin="anonymous" nomodule=""
        src="{{.assetPrefix}}/_next/static/chunks/polyfills-78c92fac7aa8fdd8.js"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/2205-64a6785ec87ea88d.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/5158-d7c0e4863c8255d7.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/1133-e10c2a87142b6ac8.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/6481-3b4850688fcecbbc.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/1318-5503d6bc01fe618f.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/5162-3a2a93ae06771a2d.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/6013-b37b6722c3838676.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/9830-80069c559edfcd09.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/9725-af26be20835c3026.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/3752-aacdb0996ff9e41a.js"
        crossorigin="anonymous"></script>
    <script defer="" src="{{.assetPrefix}}/_next/static/chunks/2886.30947ab3e8e3e4ed.js"
        crossorigin="anonymous"></script>
    <script src="{{.assetPrefix}}/_next/static/chunks/webpack-f253c549bc1dea43.js" defer=""
        crossorigin="anonymous"></script>
    <script src="{{.assetPrefix}}/_next/static/chunks/framework-ac719dc28fda7a28.js" defer=""
        crossorigin="anonymous"></script>
    <script src="{{.assetPrefix}}/_next/static/chunks/main-87d576f30e4bad32.js" defer=""
        crossorigin="anonymous"></script>
    <script src="{{.assetPrefix}}/_next/static/chunks/pages/_app-2630966699a6c0ec.js" defer=""
        crossorigin="anonymous"></script>
    <script src="{{.assetPrefix}}/_next/static/chunks/3148-9e1794629d5c5cf1.js" defer=""
        crossorigin="anonymous"></script>
    {{.pageScripts}}
    <script src="{{.assetPrefix}}/_next/static/yaiktQduf_aNQP78G7yt0/_buildManifest.js" defer=""
        crossorigin="anonymous"></script>
    <script src="{{.assetPrefix}}/_next/static/yaiktQduf_aNQP78G7yt0/_ssgManifest.js" defer=""
        crossorigin="anonymous"></script>
</head>

<body class="antialiased">
    <div id="__next">
        <script>!function () { try { var d = document.documentElement, c = d.classList; c.remove('light', 'dark'); var e = localStorage.getItem('theme'); if ('system' === e || (!e && true)) { var t = '(prefers-color-scheme: dark)', m = window.matchMedia(t); if (m.media !== t || m.matches) { d.style.colorScheme = 'dark'; c.add('dark') } else { d.style.colorScheme = 'light'; c.add('light') } } else if (e) { c.add(e || '') } if (e === 'light' || e === 'dark') d.style.colorScheme = e } catch (e) { } }()</script>
        <audio class="fixed bottom-0 left-0 hidden h-0 w-0" autoplay="" crossorigin="anonymous"></audio>
    </div>
    <script id="__NEXT_DATA__" type="application/json" crossorigin="anonymous">{{.props}}</script>
</body>

</html>