<!DOCTYPE html>
<html data-build="prod-3f4b9916a6f5c559b193e8867e2896a39875ebf1" dir="ltr">
  <head>
    {{.envScript}}
    <meta charset="utf-8" />
    <title>ChatGPT</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{.assetPrefix}}/_next/static/media/apple-touch-icon.82af6fe1.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{.assetPrefix}}/_next/static/media/favicon-32x32.630a2b99.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{.assetPrefix}}/_next/static/media/favicon-16x16.a052137e.png"
    />
    <link rel="preconnect" href="{{.assetPrefix}}" />
    <meta
      name="title"
      content="ChatGPT: Get instant answers, find inspiration, learn something new"
    />
    <meta
      name="description"
      content="ChatGPT helps you get answers, find inspiration and be more productive. It is free to use and easy to try. Just ask and ChatGPT can help with writing, learning, brainstorming and more."
    />
    <meta
      name="keywords"
      content="ai chat,ai,chap gpt,chat gbt,chat gpt 3,chat gpt login,chat gpt website,chat gpt,chat gtp,chat openai,chat,chatai,chatbot gpt,chatg,chatgpt login,chatgpt,gpt chat,open ai,openai chat,openai chatgpt,openai"
    />
    <meta
      property="og:description"
      content="A conversational AI system that listens, learns, and challenges"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="ChatGPT" />
    <meta
      property="og:image"
      content="{{.assetPrefix}}/_next/static/media/chatgpt-share-og.49cbbffe.png"
    />
    <meta property="og:url" content="https://chatgpt.com" />
    <meta name="apple-itunes-app" content="app-id=6448311069" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="next-head-count" content="4" />
    <link data-next-font="" rel="preconnect" href="/" crossorigin="anonymous" />
    <link
      rel="preload"
      href="{{.assetPrefix}}/_next/static/css/d78092617dd4d572.css"
      as="style"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{.assetPrefix}}/_next/static/css/d78092617dd4d572.css"
      crossorigin="anonymous"
      data-n-g=""
    />
    <noscript data-n-css=""></noscript>
    <script
      defer=""
      crossorigin="anonymous"
      nomodule=""
      src="{{.assetPrefix}}/_next/static/chunks/polyfills-78c92fac7aa8fdd8.js"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/2205-64a6785ec87ea88d.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/6636-8dc7c4f215a23859.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/7137-1ac57947a43357e1.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/8500-795446fa07aacf27.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/3183-195b8060816c57fb.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/5162-3a2a93ae06771a2d.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/7437-28a41ba21e56def0.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/7035-5882a5ca2c8ff480.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/9725-8e3881a3dd652021.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/5385-02f65ff5fdf94e25.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer=""
      src="{{.assetPrefix}}/_next/static/chunks/6912.ec62bd3be4702b5f.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="{{.assetPrefix}}/_next/static/chunks/webpack-30195ed71c7dbad9.js"
      defer=""
      crossorigin="anonymous"
    ></script>
    <script
      src="{{.assetPrefix}}/_next/static/chunks/framework-ac719dc28fda7a28.js"
      defer=""
      crossorigin="anonymous"
    ></script>
    <script
      src="{{.assetPrefix}}/_next/static/chunks/main-87d576f30e4bad32.js"
      defer=""
      crossorigin="anonymous"
    ></script>
    <script
      src="{{.assetPrefix}}/_next/static/chunks/pages/_app-43551a68c3e46a4c.js"
      defer=""
      crossorigin="anonymous"
    ></script>
    <script
      src="{{.assetPrefix}}/_next/static/chunks/3148-24faaad1cc06d706.js"
      defer=""
      crossorigin="anonymous"
    ></script>
    {{.pageScripts}}
    <script
      src="{{.assetPrefix}}/_next/static/Sksc-at-e4YoGT2btX1_A/_buildManifest.js"
      defer=""
      crossorigin="anonymous"
    ></script>
    <script
      src="{{.assetPrefix}}/_next/static/Sksc-at-e4YoGT2btX1_A/_ssgManifest.js"
      defer=""
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="antialiased">
    <div id="__next">
      <script>
        !(function () {
          try {
            var d = document.documentElement,
              c = d.classList;
            c.remove("light", "dark");
            var e = localStorage.getItem("theme");
            if ("system" === e || (!e && true)) {
              var t = "(prefers-color-scheme: dark)",
                m = window.matchMedia(t);
              if (m.media !== t || m.matches) {
                d.style.colorScheme = "dark";
                c.add("dark");
              } else {
                d.style.colorScheme = "light";
                c.add("light");
              }
            } else if (e) {
              c.add(e || "");
            }
            if (e === "light" || e === "dark") d.style.colorScheme = e;
          } catch (e) {}
        })();
      </script>
      <audio
        class="fixed bottom-0 left-0 hidden h-0 w-0"
        autoplay=""
        crossorigin="anonymous"
      ></audio>
    </div>
    <script id="__NEXT_DATA__" type="application/json" crossorigin="anonymous">
      {{.props}}
    </script>
  </body>
</html>
